[Unit]
Description=TPM 2.0 TCG Software Stack service
After=syslog.target network.target
ConditionPathExists=/dev/tpm0
ConditionPathExistsGlob=/sys/class/tpm/tpm0/device/description

[Service]
Type=simple
ExecStartPre=/bin/sh -c "fgrep 'TPM 2.0' /sys/class/tpm/tpm0/device/description"
ExecStart=/usr/sbin/resourcemgr

TimeoutSec=30s
Restart=on-failure
RestartSec=4
StartLimitInterval=25
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
